---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="About">
    <h1>About us</h1>
    <div>
        <ul>
            <li>Serving <b>over 2 million passengers</b> daily</li>
            <li>
                Ranked <b>#1</b> as the safest public transit network in Florida
            </li>
            <li><b>No delays</b> longer than 5 minutes since our foundation</li>
        </ul>
        <p>
            At <b>Rockay City Subway</b>, our goal is to connect our beautiful
            and diverse city. From Nautilus Keys to Milton Rey, we offer the
            fastest and most reliable service in the state of Florida.
        </p>
        <p>
            From fastest passenger trains to Rockay Money Express, you can be
            sure that your trip will be smooth as butter.
        </p>
    </div>
</Layout>

<style>
    div {
        text-align: left;
        margin-left: 5px;
    }
</style>
