---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
    <h1>Careers</h1>
    <p>Rockay City Subway is always hiring!</p>
    <article>
        <h2>Janitor</h2>
        <p>District: Beautiful Ridge</p>
        <p>Required experience: 15 years</p>
        <p>
            Needed a professional janitor for short-term contract work at the
            gold depot.
        </p>
    </article>
    <article>
        <h2>Night Guard</h2>
        <p>District: Any</p>
        <p>Required experience: 20 years</p>
        <p>
            Night guard needed at Train Depot. Previous guard failed miserably
            at his work, so only looking for well-trained professionals.
        </p>
    </article>
</Layout>

<style>
    article {
        text-align: left;
    }
</style>
