---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Map">
    <h1>Rockay City Subway Map</h1>
    <p>Click the map below to download full-resolution version (1.8mb)</p>
    <a href="/assets/full-map.bmp">
        <img src="/assets/map.jpg" alt="Preview of Rockay City Subway map" />
    </a>
</Layout>
