---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <marquee class="announcement">ROCKAY CENTRAL STATION CLOSED FOR MAINTENANCE</marquee>
    <img
        src="/assets/serving.gif"
        alt="Rockay City Subway: Serving you day and night"
    />
    <p>
        <b>Welcome</b> to the official page of Rockay City Subway, your best source
        for most up-to-date news on operations of the fastest way to get around our
        wonderful city!
    </p>
</Layout>

<style is:inline>
    .announcement {
        color: red;
        background-color: black;
        padding-top: 5px;
        padding-bottom: 5px;
    }
</style>
