---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
    <h1>News</h1>
    <article>
        <h2>Rockay Central closed for maintenance</h2>
        <p>
            Today, group of armed criminals attacked Rockay Money Express at
            Rockay Central station. Their identity is still unknown, though in
            his comment to "News And Views" Sheriff Norris stated, that he
            believes that infamous gang leader Travis Baker is responsible for
            this attack.
        </p>
    </article>
    <article>
        <h2>Sheriff Norris opens new Rockay Central station</h2>
        <p>
            Sheriff Norris took time from his schedule to attend the opening of
            the Rockay Central station. "I'm proud of Rockay City Subway for
            providing the safest service in all of Florida", he said, and while
            his stay will end once he stops all major gangs, he promises that
            next time he comes here for a vacation, he will ride Rockay City
            Subway.
        </p>
    </article>
</Layout>

<style>
    article {
        border-top: 1px solid gray;
        margin-left: 5px;
    }
</style>
