<p class="contact"><b>Rockay City Railway department</b></p>
<p class="contact">Downtown 2576/558</p>
<p class="contact">44520 01</p>
<p class="contact">+521 441 685 321 00</p>

<style is:inline>
    p.contact {
        margin: 0;
    }
</style>