---
import NavigationButton from "./NavigationButton.astro";
---

<table>
    <tbody>
        <NavigationButton href="/" name="home" alt="Home" />
        <NavigationButton href="/about" name="about" alt="About Rockay City Subway" />
        <NavigationButton href="/news" name="news" alt="News" />
        <NavigationButton href="/map" name="map" alt="Map" />
        <NavigationButton href="/careers" name="careers" alt="Careers" />
    </tbody>
</table>